.order-card {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 0 2px 5px #ccc;
  padding: 0 0 0 30px;
  margin: 20px 0;
  letter-spacing: 0.5px;
  background-color: white;
}

h5 {
  width: 20%;
}

#main {
  width: 80%;
}

.id {
  color: grey;
}

.amt {
  color: grey;
}