.pro-card {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 0 2px 5px #ccc;
  padding: 0 0 0 30px;
  margin: 20px 0;
  letter-spacing: 0.5px;
  background-color: white;
}

#main {
  width: 80%;
}

.id {
  width: 5%;
  padding-right: 60px;
  color: grey;
}

.name {
  width: 30%;
  padding-right: 60px;
  box-sizing: border-box;
}

.brand {
  width: 30%;
  color: grey;
}

.exp {
  width: 15%;
}

.price {
  width: 10%;
  color: grey;
}

.stock {
  width: 10%;
  color: grey;
}