.users {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 12vh;
}

#main {
  margin: 0 auto;
  width: 80%
}

.user-card {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 0 2px 5px #ccc;
  padding: 0 0 0 30px;
  margin: 20px 0;
  letter-spacing: 0.5px;
  background-color: white;
}

#search {
  width: 45%;
  height: 50px;
  color: grey;
  padding-left: 20px;
  font-size: 15px;
  border: 0;
  border-bottom: 2px solid #8c8c8c;
  margin: 0 36px 0 0;
  outline: none;
}

.id {
  width: 7%;
  color: grey;
}

.avatar {
  width: 15%;
}

.name {
  width: 20%;
  color: grey;
}

.users > div {
  margin: 0 auto;
  width: 80%
}

.dob {
  width: 15%;
}

.gender {
  width: 15%;
  color: grey;
}

.location {
  width: 28%;
  color: grey;
}
/* 
.users > div {
  margin: 0 auto;
  width: 80%
} */

#reset {
  width: 10%;
  height: 45px;
  border-radius: 15px;
  background-color: #20b883;
  color: white;
  font-size: 15px;
  font-weight: 800;
  border: none;
  outline: none;
}